@model BlogVM
@{
    ViewData["Title"] = "Detail";
}

<!-- MAIN START -->
<main>
    <section id="heading">
        <div class="heading-banner-area overlay-bg"
             style="
            background-image: url(img/bg/1.jpg);
            background-position: center;
            background-repeat: no-repeat;
          ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-banner">
                            <div class="heading-banner-title">
                                <h2>SINGLE BLOG</h2>
                            </div>
                            <div class="breadcumbs pb-15">
                                <ul>
                                    <li class="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>SINGLE BLOG</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog-AREA START -->
    <section id="blog" class="padding-100">
        <div class="blog-area blog-2 blog-details-area">
            <div class="container">
                <div class="blog">
                    <div class="row">
                        <!-- Single-blog start -->
                        <div class="col-md-9">
                            <div class="single-blog mb-5">
                                <div class="blog-photo">
                                    <a href="#">
                                        <img class="photo" src="~/img/blog/@Model.Blog.Image" alt="" />
                                    </a>
                                    <div class="like-share fix">
                                        <a href="#"><i class="fas fa-user-alt"></i><span>James</span></a>
                                        <a href="#"><i class="fas fa-heart"></i><span>89 Like</span></a>
                                        <a href="#">
                                            <i class="fas fa-comment"></i><span>59 Comments</span>
                                        </a>
                                        <a href="#">
                                            <i class="fas fa-share-alt"></i><span>29 Share</span>
                                        </a>
                                    </div>
                                    <div class="post-date post-date-2">
                                        <span class="text-dark-red">@Model.Blog.Date.Day</span>
                                        <span class="text-dark-red text-uppercase"> @Model.Blog.Date.ToString("MMMM")</span>
                                    </div>
                                </div>
                                <div class="blog-info blog-details-info">
                                    <h4 class="post-title post-title-2 mt-4 mb-4">
                                        <a href="#">@Model.Blog.Name</a>
                                    </h4>
                                    @Html.Raw(Model.Blog.BlogDetail.Description)
                                    <div class="post-share-tag">
                                        <div class="post-share floatleft">
                                            <span class="text-uppercase"><strong>Share</strong></span>
                                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                                            <a href="#"><i class="fab fa-twitter"></i></a>
                                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            <a href="#"><i class="fab fa-vimeo-v"></i></a>

                                            <a href="#"><i class="fab fa-instagram"></i></a>
                                        </div>
                                        <div class="post-share post-tag floatright">
                                            <span class="text-uppercase"><strong>tags</strong></span>
                                            <a href="#">Chair</a>
                                            <a href="#">Furniture</a>
                                            <a href="#">Light</a>
                                            <a href="#">Table</a>
                                        </div>
                                    </div>
                                    <div class="author-comments mt-5">
                                        <div class="author-photo floatleft">
                                            <img src="~/img/reviewer/author.jpg" alt="" />
                                        </div>
                                        <div class="author-brief">
                                            <h3 class="font-16px"><strong>Salim Rana</strong></h3>
                                            <p>
                                                No one rejects, dislikes, or avoids pleasure itself,
                                                because it is pleasure, but because those who do not
                                                know how to pursue pleasure rationally encounter
                                                conseques ences that are extremely painful. Nor
                                                again is there anyone who loves or pursues or
                                                desires to obtain pain of itself, because it is
                                                pain, but because occasionally car mstances occur in
                                                which toil and pain can procure him some great
                                                pleasure.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pro-reviews d-flex flex-column">
                                        <div class="leave-review">
                                            <h3 class="tab-title title-border mb-5 mt-5">
                                                Leave your reviw
                                            </h3>
                                            <div class="reply-box">
                                                <div asp-validation-summary="ModelOnly"></div>
                                                @if (!User.Identity.IsAuthenticated)
                                                {
                                                    <form id="commentForm" asp-controller="Blog" asp-action="AddComment" asp-route-id="@Model.Blog.Id">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text"
                                                                       placeholder="Your name here..."
                                                                       name="name" />
                                                                <span class="text-danger" for="name"></span>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text"
                                                                       placeholder="Your surname here..."
                                                                       name="surname" />
                                                                <span class="text-danger" name="surname"></span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <textarea class="custom-textarea"
                                                                          name="review"
                                                                          placeholder="Your review here..."></textarea>
                                                                <span class="text-danger" for="review"></span>

                                                                <button type="submit" id="btnComment"
                                                                        data-text="submit review"
                                                                        class="button-one submit-button mt-5">
                                                                    submit review
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form id="commentForm" asp-controller="Blog" asp-action="AddComment" asp-route-id="@Model.Blog.Id">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <textarea class="custom-textarea"
                                                                          name="review"
                                                                          placeholder="Your review here..."></textarea>
                                                                <span class="text-danger" name="review"></span>

                                                                <button type="submit" id="btnComment"
                                                                        data-text="submit review"
                                                                        class="button-one submit-button mt-5">
                                                                    submit review
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                        <div class="customer-review col-12">
                                            <h3 class="tab-title title-border mb-5 mt-5">
                                                Customer comments
                                            </h3>
                                            <ul class="product-comments">
                                                @foreach (BlogComment bc in Model.BlogComments)
                                                {
                                                    <li class="mb-30 col-12">


                                                        <div class="pro-reviewer-comment">
                                                            <div class="fix">
                                                                <div class="floatleft mbl-center">
                                                                    <h5 class="text-uppercase mb-0">
                                                                        <strong>@bc.Comment.Name @bc.Comment.Surname</strong>
                                                                    </h5>
                                                                    <p class="reply-date">
                                                                        @bc.Comment.TimeStamp.ToString("f");
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <p class="mb-0">
                                                                @bc.Comment.Text
                                                            </p>
                                                        </div>


                                                    </li>
                                                }

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single-blog end -->
                        <div class="col-md-3">
                            <!-- Widget-Search start -->
                            <aside class="widget widget-search mt-0 mb-5">
                                <form action="#">
                                    <input type="text" placeholder="Search here..." />
                                </form>
                            </aside>
                            <!-- Widget-search end -->
                            <!-- Widget-Categories start -->
                            <aside class="widget widget-categories mb-30">
                                <div class="widget-title">
                                    <h4>Categories</h4>
                                </div>
                                <div id="cat-treeview"
                                     class="widget-info product-cat boxscrol2">
                                    <ul>
                                        @foreach (Category cg in Model.Categories)
                                        {
                                            <li><a href="#">@cg.NameCategory</a></li>
                                        }
                                    </ul>
                                </div>
                            </aside>
                            <!-- Widget-categories end -->
                            <!-- Widget-product start -->
                            <aside class="widget widget-product mt-5">
                                <div class="widget-title">
                                    <h4>Recent blogs</h4>
                                </div>
                                <div class="widget-info sidebar-product">
                                    <!-- Single-product start -->
                                    @foreach (Blog blogs in Model.Blogs)
                                    {
                                        <div class="single-product col-lg-12">
                                            <div class="product-img">
                                                <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blogs.Id">
                                                    <img src="~/img/blog/@blogs.Image" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h4 class="post-title"><a asp-controller="Blog" asp-action="Detail" asp-route-id="@blogs.Id">Dummy Blog</a></h4>
                                                <span>
                                                    <strong>
                                                        <a class="text-gray" asp-controller="Blog" asp-action="Detail" asp-route-id="@blogs.Id">@blogs.Date.Day, @blogs.Date.ToString("MMMM"),@blogs.Date.Year</a>
                                                    </strong>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    <!-- Single-product end -->

                                </div>
                            </aside>
                            <!-- Widget-product end -->
                            <!-- Widget-Size start -->
                            <aside class="widget widget-comments mt-5 mb-5">
                                <div class="widget-title">
                                    <h4>Recent comments</h4>
                                </div>
                                <div class="widget-info comments-filter">
                                    <div class="single-recent-comments">
                                        <h5><a href="#">Mary Isabella</a></h5>
                                        <p>
                                            There are many variations of passag of Lorem Ipsum
                                            available...
                                        </p>
                                    </div>
                                    <div class="single-recent-comments">
                                        <h5><a href="#">Michael Charles</a></h5>
                                        <p>
                                            There are many variations of passag of Lorem Ipsum
                                            available...
                                        </p>
                                    </div>
                                    <div class="single-recent-comments">
                                        <h5><a href="#">David William</a></h5>
                                        <p>
                                            There are many variations of passag of Lorem Ipsum
                                            available...
                                        </p>
                                    </div>
                                    <div class="single-recent-comments">
                                        <h5><a href="#">Matthew Daniel</a></h5>
                                        <p>
                                            There are many variations of passag of Lorem Ipsum
                                            available...
                                        </p>
                                    </div>
                                </div>
                            </aside>
                            <!-- Widget-Size end -->
                            <!-- Widget-banner start -->
                            <aside class="widget widget-banner">
                                <div class="widget-info widget-banner-img">
                                    <a href="#"><img src="~/img/banner/5.jpg" alt="" /></a>
                                </div>
                            </aside>
                            <!-- Widget-banner end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BLGO-AREA END -->
    </section>
</main>
<!-- MAIN END -->
