@model ProductVM
@{
    ViewData["Title"] = "Detail";
}

<!-- MAIN START -->
<main>
    <section id="heading">
        <div class="heading-banner-area overlay-bg"
             style="
            background-image: url(img/bg/1.jpg);
            background-position: center;
            background-repeat: no-repeat;
          ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-banner">
                            <div class="heading-banner-title">
                                <h2>SINGLE PRODUCT</h2>
                            </div>
                            <div class="breadcumbs pb-15">
                                <ul>
                                    <li class="home"><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>SINGLE PRODUCT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- PRODUCT-AREA START -->
    <section id="blog" class="padding-100">
        <div class="blog-area blog-2 blog-details-area product-area">
            <div class="container">
                <div class="blog product">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <div class="row shop-list single-pro-info">
                                <!-- Single-product start -->
                                <div class="col-lg-12">
                                    <div class="single-product">
                                        <div class="single-big-photo view-lightbox">
                                            <div>
                                                <img class="img-fluid mt-5" width="700" src="~/img/product/@Model.Product.Image" alt="" />
                                            </div>
                                        </div>

                                        <div class="product-info">
                                            <div class="fix">
                                                <h4 class="post-title floatleft">
                                                    @Model.Product.Name
                                                </h4>
                                                @*<span class="pro-rating floatright">
                                                    @if (Model.Product.Rate > 5)
                                                    {
                                                        Model.Product.Rate = 5;
                                                    }

                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <a class='rating-@(i<=Model.Product.Rate?"on":"off")'><i class="fas fa-star"></i></a>

                                                    }
                                                    <span>( @Model.Product.ProductDetail.Rate )</span>
                                                </span>*@
                                            </div>
                                            <div class="fix">
                                                <span class="pro-price">$ @Model.Product.Price</span>
                                            </div>
                                            <div class="product-description">
                                                <p>
                                                   @Html.Raw(Model.Product.ProductDetail.Description)
                                                </p>
                                            </div>

                                            <div class="actions">
                                                <div class="product-action">
                                                    <a asp-controller="Favorite" asp-action="AddFavorite" asp-route-id="@Model.Product.ProductDetail.Id"
                                                      
                                                       title="Wishlist">
                                                        <i class="far fa-heart"></i>
                                                    </a>

                                                    <a asp-controller="Basket" asp-action="AddBasket" asp-route-id="@Model.Product.ProductDetail.Id"
                                                  
                                                       title="Add To Cart">
                                                        <i class="fas fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single-product end -->
                            </div>
                            <!-- single-product-tab start -->
                            <div class="product-tags">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="nav flex-column nav-pills"
                                             id="v-pills-tab"
                                             role="tablist"
                                             aria-orientation="vertical">
                                            <a class="nav-link active"
                                               id="v-pills-home-tab"
                                               data-toggle="pill"
                                               href="#v-pills-home"
                                               role="tab"
                                               aria-controls="v-pills-home"
                                               aria-selected="true">Description</a>
                                            <a class="nav-link"
                                               id="v-pills-profile-tab"
                                               data-toggle="pill"
                                               href="#v-pills-profile"
                                               role="tab"
                                               aria-controls="v-pills-profile"
                                               aria-selected="false">Reviews</a>
                                            <a class="nav-link"
                                               id="v-pills-messages-tab"
                                               data-toggle="pill"
                                               href="#v-pills-messages"
                                               role="tab"
                                               aria-controls="v-pills-messages"
                                               aria-selected="false">information</a>
                                            <a class="nav-link"
                                               id="v-pills-settings-tab"
                                               data-toggle="pill"
                                               href="#v-pills-settings"
                                               role="tab"
                                               aria-controls="v-pills-settings"
                                               aria-selected="false">Tags</a>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active"
                                                 id="v-pills-home"
                                                 role="tabpanel"
                                                 aria-labelledby="v-pills-home-tab">
                                                <div class="pro-tab-info pro-description">
                                                    <h3 class="tab-title title-border mb-30">
                                                        dummy Product name
                                                    </h3>
                                                    @Html.Raw(Model.Product.ProductDetail.Description2)
                                                </div>
                                            </div>
                                            <div class="tab-pane fade"
                                                 id="v-pills-profile"
                                                 role="tabpanel"
                                                 aria-labelledby="v-pills-profile-tab">
                                                <div class="pro-reviews mt-60">
                                                    <div class="customer-review mb-60">
                                                        <h3 class="tab-title title-border mb-5 mt-5">
                                                            Customer comments
                                                        </h3>
                                                        <ul class="product-comments">
                                                            <li class="mb-30">
                                                                <div class="pro-reviewer">
                                                                    <img  src="~/img/reviewer/1.jpg" alt="" />
                                                                </div>
                                                                <div class="pro-reviewer-comment">
                                                                    <div class="fix">
                                                                        <div class="floatleft mbl-center">
                                                                            <h5 class="text-uppercase mb-0">
                                                                                <strong>Gerald Barnes</strong>
                                                                            </h5>
                                                                            <p class="reply-date">
                                                                                27 Jun, 2017 at 2:30pm
                                                                            </p>
                                                                        </div>
                                                                        <div class="comment-reply floatright">
                                                                            <a href="#">
                                                                                <i class="fas fa-reply"></i>
                                                                            </a>
                                                                            <a href="#">
                                                                                <i class="fas fa-window-close"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <p class="mb-0">
                                                                        Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing elit. Integer accumsan
                                                                        egestas elese ifend. Phasellus a felis
                                                                        at est bibendum feugiat ut eget eni
                                                                        Praesent et messages in con sectetur
                                                                        posuere dolor non.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                            <li class="threaded-comments">
                                                                <div class="pro-reviewer">
                                                                    <img  src="~/img/reviewer/1.jpg" alt="" />
                                                                </div>
                                                                <div class="pro-reviewer-comment">
                                                                    <div class="fix">
                                                                        <div class="floatleft mbl-center">
                                                                            <h5 class="text-uppercase mb-0">
                                                                                <strong>Gerald Barnes</strong>
                                                                            </h5>
                                                                            <p class="reply-date">
                                                                                27 Jun, 2017 at 2:30pm
                                                                            </p>
                                                                        </div>
                                                                        <div class="comment-reply floatright">
                                                                            <a href="#">
                                                                                <i class="fas fa-reply"></i>
                                                                            </a>
                                                                            <a href="#">
                                                                                <i class="fas fa-window-close"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <p class="mb-0">
                                                                        Lorem ipsum dolor sit amet, consectetur
                                                                        adipiscing elit. Integer accumsan
                                                                        egestas elese ifend. Phasellus a felis
                                                                        at est bibendum feugiat ut eget eni
                                                                        Praesent et messages in con sectetur
                                                                        posuere dolor non.
                                                                    </p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="leave-review">
                                                        <h3 class="tab-title title-border mb-5 mt-5">
                                                            Leave your reviw
                                                        </h3>
                                                        <div class="reply-box">
                                                            <form action="#">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <input type="text"
                                                                               placeholder="Your name here..."
                                                                               name="name" />
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <input type="text"
                                                                               placeholder="Your email here..."
                                                                               name="email" />
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <textarea class="custom-textarea"
                                                                                  name="message"
                                                                                  placeholder="Your review here..."></textarea>
                                                                        <button type="submit"
                                                                                data-text="submit review"
                                                                                class="button-one submit-button mt-5">
                                                                            submit review
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade"
                                                 id="v-pills-messages"
                                                 role="tabpanel"
                                                 aria-labelledby="v-pills-messages-tab">
                                                <div class="pro-tab-info pro-information">
                                                    <h3 class="tab-title title-border mb-30">
                                                        Product information
                                                    </h3>
                                                    @Html.Raw(Model.Product.ProductDetail.Information)
                                                </div>
                                            </div>
                                            <div class="tab-pane fade"
                                                 id="v-pills-settings"
                                                 role="tabpanel"
                                                 aria-labelledby="v-pills-settings-tab">
                                                <div class="pro-tab-info pro-information">
                                                    <h3 class="tab-title title-border mb-30">tags</h3>
                                                    @Html.Raw(Model.Product.ProductDetail.Tags)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- single-product-tab end -->
                        </div>
                        <!-- Single-blog end -->
                        <div class="col-md-3">
                            <!-- Widget-Search start -->
                            <aside class="widget widget-search mt-0 mb-5">
                                <form action="#">
                                    <input type="text" placeholder="Search here..." />
                                </form>
                            </aside>
                            <!-- Widget-search end -->
                            <!-- Widget-Categories start -->
                            <aside class="widget widget-categories mb-30">
                                <div class="widget-title">
                                    <h4>Categories</h4>
                                </div>
                                <div id="cat-treeview"
                                     class="widget-info product-cat boxscrol2">
                                    <ul>
                                        @foreach (Category cg in Model.Categories)
                                        {
                                            <li><a asp-action="FilterCategory" asp-route-id="@cg.Id">@cg.NameCategory</a></li>
                                        }
                                    </ul>
                                </div>
                            </aside>
                            <!-- Widget-categories end -->
                            <!-- Widget-product start -->
                            <aside class="widget widget-product mt-5">
                                <div class="widget-title">
                                    <h4>Recent products</h4>
                                </div>
                                <div class="widget-info sidebar-product">
                                    <!-- Single-product start -->
                                    @foreach (Product products in Model.Products)
                                    {
                                        <div class="single-product col-lg-12">
                                            <div class="product-img">
                                                <a asp-controller="Product" asp-action="Detail" asp-route-id="@products.Id">
                                                    <img src="~/img/product/@products.Image" alt="" />
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h4 class="post-title"><a asp-controller="Product" asp-action="Detail" asp-route-id="@products.Id">@products.Name</a></h4>
                                                <span>
                                                    <strong>
                                                        <a class="text-gray" asp-controller="Product" asp-action="Detail" asp-route-id="@products.Id">$@products.Price.00</a>
                                                    </strong>
                                                </span>
                                            </div>
                                        </div>
                                    }
                                    <!-- Single-product end -->
                                </div>
                            </aside>
                            <!-- Widget-product end -->
                            <!-- Widget-Size start -->
                            <!-- Widget-Size end -->
                            <!-- Widget-banner start -->
                            <aside class="widget widget-banner mt-5">
                                <div class="widget-info widget-banner-img">
                                    <a href="#"><img  src="~/img/banner/5.jpg" alt="" /></a>
                                </div>
                            </aside>
                            <!-- Widget-banner end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BLGO-AREA END -->
    </section>
</main>
<!-- MAIN END -->
